@mixin sticky-note-bg($lightcolour, $darkcolour) {
  background: $lightcolour;
  background-image: -webkit-linear-gradient(top, $lightcolour, $darkcolour);
  background-image: linear-gradient(top, $lightcolour, $darkcolour);
}

//Sticky note colours:
$darkpink : rgba(235, 174, 235, 1);
$toppink: #f1c3f1;
$lightpink : rgba(245, 210, 245, 1);

$darkyellow : rgb(252, 249, 162);
$topyellow: #f8f7b6;
$lightyellow : rgb(253, 253, 203);

$darkblue : rgb(184, 219, 244);
$topblue : #c9ecf8;
$lightblue : rgb(216, 242, 250);

$darkwhite : rgba(239, 239, 239, 1);
$topwhite : #f7f7f7;
$lightwhite : rgba(255, 255, 255, 1);

$darkpurple : rgba(199, 185, 254, 1);
$toppurple: #d4cdf3;
$lightpurple : rgba(221, 217, 254, 1);

$darkgreen : rgba(177, 232, 174, 1);
$topgreen : #c5f7c1;
$lightgreen : rgba(209, 254, 203, 1);

.kbsn-sticky-note {
  position: absolute;
  -webkit-box-shadow: 1px 5px 3px 0 rgba(0,0,0,0.75);
  box-shadow: 1px 5px 3px 0 rgba(0,0,0,0.75);
  z-index: 9999;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;

  .kbsn-top {
    height: 30px;
    margin: 0;
    padding: 0;
  }

  .kbsn-colour-select {
    z-index: 100;
    display:none;
    position: absolute;
    margin: 0;
    padding: 10px;
    background: #fff;
    cursor: default;
    -webkit-box-shadow: 1px 5px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 1px 5px 3px 0 rgba(0,0,0,0.75);
    color: #000;
    font-family: Arial,sans-serif;

    > ul {
      list-style: none;
      margin:0;
      li {
        text-align: left;
        padding: 2px 16px 2px 16px;
        height: 22px;
        line-height: 22px;
        &.yellow {
          @include sticky-note-bg($lightyellow, $darkyellow);
          &:hover {
            background: $topyellow;
          }
        }
        &.blue {
          @include sticky-note-bg($lightblue, $darkblue);
          &:hover {
            background: $topblue;
          }
        }
        &.pink {
          @include sticky-note-bg($lightpink, $darkpink);
          &:hover {
            background: $toppink;
          }
        }
        &.purple {
          @include sticky-note-bg($lightpurple, $darkpurple);
          &:hover {
            background: $toppurple;
          }
        }
        &.white {
          @include sticky-note-bg($lightwhite, $darkwhite);
          &:hover {
            background: $topwhite;
          }
        }
        &.green {
          @include sticky-note-bg($lightgreen, $darkgreen);
          &:hover {
            background: $topgreen;
          }
        }
      }
    }
  }

  &.kbsn-yellow {
    @include sticky-note-bg($lightyellow, $darkyellow);
    .kbsn-top {
      background: $topyellow;
    }
  }

  &.kbsn-blue {
    @include sticky-note-bg($lightblue, $darkblue);
    .kbsn-top {
      background: $darkblue;
    }
  }

  &.kbsn-pink {
    @include sticky-note-bg($lightpink, $darkpink);
    .kbsn-top {
      background: $toppink;
    }
  }

  &.kbsn-purple {
    @include sticky-note-bg($lightpurple, $darkpurple);
    .kbsn-top {
      background: $toppurple;
    }
  }

  &.kbsn-white {
    @include sticky-note-bg($lightwhite, $darkwhite);
    .kbsn-top {
      background: $topwhite;
    }
  }
  &.kbsn-green {
    @include sticky-note-bg($lightgreen, $darkgreen);
    .kbsn-top {
      background: #c5f7c1;
    }
  }

  .kbsn-textarea {
    width: 190px;
    height: 140px;
    padding: 0;
    margin: 0;
    background: none;
    resize: none;
    color: #222222;
    border: none;
    font-family: Segoe Print, Comic Sans MS, Tahoma, sans-serif;
    font-size: 14pt;
    overflow: hidden;
    outline: none;
    box-shadow: none;
  }

  .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url('chrome-extension://__MSG_@@extension_id__/styles/images/ui-icons_222222_256x240.png');
    &.ui-icon-gripsmall-diagonal-se {
      background-position: -64px -224px;
    }
  }

  .ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
  }

  .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
  }

  .ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
  }

  .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
  }
}

.kbsn-icon {
  width: 16px;
  height: 16px;
  background-image: url('chrome-extension://__MSG_@@extension_id__/styles/images/ui-icons_222222_256x240.png');
  &:hover {
    background-color: #fff;
  }
  &.plus {
    background-position: -16px -128px;
    float: left;
  }
  &.close {
    background-position: -80px -128px;
    float: right;
  }
  &.drag {
    background-position: -64px -224px;
  }
}



